.fu-stock-item
  .fu-stock-left
    %header.fu-stock-sig
      %h3.fu-stock-title
        Alphabet Inc and more text and more text
      .fu-stock-symbol
        GOOG
    %footer.fu-stock-nums
      .fu-stock-trend
        .fu-stock-trend-arrow
        .fu-stock-trend-perc
          15.32 (2.22%)
      .fu-stock-price
        $706.32
  .fu-stock-right
    .fu-stock-vert
      .fu-stock-vert-arrow
    .fu-stock-vert-prices
      .fu-stock-vert-high
        $709.28
      .fu-stock-vert-low
        $691.44
