!!!
%html{lang: "en"}
  %head
    %title foreUP Stock Watcher
    %meta{:name => "author", :content => "Allen Mackley"}
    %meta{:name => "viewport", :content => "width=device-width"}
    %meta{:name => "description", :content => "Simple stock watcher app. Add a stock by entering a four character stock symbol."}
    = csrf_meta_tags
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/style.css'}
  %body
    = yield
    %script{:type => "text/javascript", :src  => "js/bundle.js"}
