!!!
%html{lang: "en"}
  %head
    %title foreUP Stock Watcher
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    //This is for Sprockets, which I've disabled. Note that Webpack includes public/js/bundle.js at the end of the <body> tag in application.html.haml
    -# = javascript_include_tag 'application'
  %body
    = yield
    %script{:type => "text/javascript", :src  => "js/bundle.js"}
